.SignUp {
  width: 100%;
  padding: 0 70px;

  .title {
    margin: 10px 0;
    color: rgb(87, 87, 87);
  }
  .subtitle {
    color: rgb(114, 113, 113);
  }
  .buttons {
    width: 100%;
    text-align: center;
    //   display: flex;
    //   justify-content: space-between;
  }
}
