.CollectionPreview {
  margin-bottom: 50px;

  .Breadcrumbs {
    margin-top: 10px;
    color: rgb(85, 85, 85);
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-decoration: none;
    a {
      color: rgb(117, 117, 117);
      text-decoration: none;
    }
  }

  .title {
    margin: 10px 0 20px;
    text-align: center;
    position: relative;
    width: 100%;
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      position: absolute;
      background-color: rgb(116, 116, 116);
    }
    span {
      color: rgb(48, 48, 48);
      font-weight: 600;
      padding: 0 20px;
      position: relative;
      z-index: 1;
      background-color: #fff;
      display: inline-block;
      max-width: 70%;
    }
  }
}
