.CollectionItem {
  height: 360px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(168, 182, 191, 0.6);
  border-radius: 5px;
  transition: all 0.4s;

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(168, 182, 191, 0.6);
    // transform: translateY(-5px);
    .SecItemImage {
      visibility: visible !important;
      opacity: 1 !important;
      transform: translateY(-100%);
    }
    .ItemImage {
      transform: translateY(-100%);
    }
  }

  .ImageContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 65%;
    overflow: hidden;
    z-index: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .ItemImage {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: 0;
      transition: all 0.4s;
    }

    .SecItemImage {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: 1;
      transition: all 0.4s;
    }

    .Discount {
      position: absolute;
      text-align: center;
      z-index: 2;
      padding: 2px 5px;
      top: 10px;
      right: 0;
      background: rgb(77, 77, 77);
      box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.575);
      color: white;
      font-size: 0.9rem;
      font-weight: bold;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  .CollectionFooter {
    width: 100%;
    height: 35%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    vertical-align: middle;

    .CollectionFooterContainer {
      width: 100%;
      .Name {
        width: 100%;
        display: block;
        font-size: 0.9rem;
        font-weight: bold;
        text-align: left;
        letter-spacing: 1px;
        color: rgb(44, 44, 44);
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .Price {
        width: 100%;
        display: block;
        margin-bottom: 5px;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: left;
        color: rgb(107, 107, 107);
        .OldPrice {
          color: rgb(172, 172, 172);
          text-decoration: line-through;
          margin-left: 5px;
        }
      }

      .Rate {
        width: 100%;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        margin-bottom: 5px;
        font-size: 0.8rem;
        font-weight: normal;
        color: rgb(107, 107, 107);
        svg {
          margin-right: 5px;
          stroke: none;
          width: 15px;
          height: 15px;
          stroke-width: 1;
          stroke-linecap: round;
          stroke-linejoin: round;
          fill: rgb(107, 107, 107);
        }
      }

      .Sold {
        width: 100%;
        display: block;
        font-size: 0.8rem;
        margin-bottom: 5px;
        font-weight: normal;
        color: rgb(107, 107, 107);
      }

      .Buttons {
        width: 100%;
        display: flex;
        .AddToCart {
          width: 100%;
          padding: 5px 0;
          font-weight: normal;
          background: rgb(58, 58, 58);
          color: white;
          font-size: 0.6rem;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-align: center;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 5px;
          border-right: 1px solid white;
          svg {
            margin-right: 5px;
            stroke: none;
            width: 18px;
            height: 18px;
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill: white;
          }
        }

        .MoreDetails {
          width: 10%;
          margin: 0;
          padding: 5px 0;
          background: rgb(58, 58, 58);
          color: white;
          text-transform: uppercase;
          text-align: center;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 5px;

          svg {
            stroke: none;
            width: 20px;
            height: 20px;
            fill: rgb(209, 209, 209);
          }
        }
      }
    }
  }
}
