.Collections {
  width: 100%;
  .Breadcrumbs {
    margin: 25px 0 25px 25px;
    color: rgb(85, 85, 85);
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    svg {
      width: 18px;
      height: 18px;
      stroke: rgb(143, 143, 143);
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      &:nth-child(1) {
        margin-right: 5px;
        width: 15px;
        height: 15px;
      }
    }
    a {
      color: rgb(143, 143, 143);
      text-decoration: none;
      display: flex;
      vertical-align: middle;
    }
  }
}
