.SuccessContainer {
  position: relative;
  width: 70%;
  min-height: 70vh;
  margin: 50px auto 0;
  background-color: white;
  border-radius: 10px;
  .SuccessImageContainer {
    width: 100%;
    text-align: center;

    .SuccessImage {
      margin: -25px 0 0 0;
      width: 50px;
      filter: drop-shadow(0 0 9px #0000006b);
    }
  }

  .SuccessTitle {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    h1 {
      margin: 20px 0;
      font-size: 1.8rem;
      font-weight: 600;
      color: rgb(68, 218, 106);
    }
    p {
      font-size: 1rem;
      font-weight: 500;
      color: rgb(78, 78, 78);
    }
  }

  .SuccessBody {
    position: relative;
    width: 100%;
    height: max-content;
    padding: 0 30px;
    margin: 100px 0;
    h2 {
      margin: 30px 0;
      font-size: 1.4rem;
      font-weight: 600;
      color: rgb(92, 92, 92);
    }
    p {
      margin: 20px 0;
      font-size: 0.9rem;
      color: rgb(14, 14, 14);
    }
  }

  .SuccessFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(192, 192, 192);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
}
