.SignUp {
  width: 100%;
  padding: 0 10%;

  .Title {
    margin: 20px 0;
    color: rgb(87, 87, 87);
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .Subtitle {
    margin: 0 0 5px 0;
    color: rgb(114, 113, 113);
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .Buttons {
    width: 100%;
    text-align: center;
    svg {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      stroke: rgb(255, 255, 255);
      stroke-width: 1.4;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      transition: all 2s !important;
    }
  }
}
