$bgColor: #993bd8

.Navbar 
    width: 100%
    background-color: $bgColor
    padding: 10px 0

.Navbar h3 
    font-weight: 600
    color: #dfdfdf
    vertical-align: middle

.logo
    width: 50px
    margin-right: 5px
    vertical-align: middle
    
