$bgColor: #993bd8;

.Navbar {
  position: fixed !important;
  width: 100%;
  height: 56px !important;
  background-color: #fff !important;
  z-index: 4;
  transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2) !important;

  .MuiToolbar-regular {
    min-height: 56px !important;
    height: 56px !important;
  }

  .logo {
    height: 50px;
  }

  .NavbarMenu,
  .Signin {
    color: rgb(85, 85, 85);
  }

  .Search:hover,
  .Signin:hover,
  .Profile:hover {
    background: none !important;
  }

  .NavbarMenu {
    font-size: 0.9rem !important;
    padding: 13px !important;
    letter-spacing: 1px;
    text-decoration: none !important;
    font-weight: 400 !important;
    &:focus,
    &:active {
      border: none !important;
    }
  }

  .Profile {
    padding: 0 !important;
    margin: 0 12px !important;
    width: 30px;
    position: relative;

    &:hover {
      .MenuContainer {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
      }
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .MenuContainer {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 95%;
      padding: 0;
      width: fit-content;
      z-index: 5;
      background-color: none;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      // right: 0;
    }

    .Menu {
      width: fit-content;
      padding: 0;
      text-align: left;
      background-color: white;
      border-radius: 2px;
      -webkit-box-shadow: 0px 0px 5px 2px #00000015;
      -moz-box-shadow: 0px 0px 5px 2px #00000015;
      box-shadow: 0px 0px 5px 2px #00000015;

      li {
        min-width: 127px;
        color: #5e5e5e;
        display: block;
        border-radius: 2px;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 1px;
        font-family: 'Roboto';
        padding: 12px 8px;
        margin: 0;
        list-style: none;
        text-align: left;
        &:hover {
          color: #b3b3b3;
          background-color: #fdfdfd;
        }
      }
    }
  }

  .Signin {
    padding: 0 !important;
    margin: 0 12px !important;
    width: 30px !important;
  }
}

.hideNavbar {
  -webkit-transform: translate3d(0, -60px, 0) !important;
  -moz-transform: translate3d(0, -60px, 0) !important;
  transform: translate3d(0, -60px, 0) !important;
}

.showNavbar {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
