$main-color: rgb(167, 167, 167);
$sub-color: rgb(73, 73, 73);

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.Group {
  position: relative;
  margin: 40px 0;

  .FormInput {
    background: none;
    background-color: rgb(249, 249, 249);
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;
    color: rgb(65, 65, 65);

    &:focus {
      outline: none;
    }

    &:focus ~ .FormInputLabel {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .FormInputLabel {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.Shrink {
      @include shrinkLabel();
    }
  }
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px rgb(249, 249, 249) inset !important;
  -webkit-box-shadow: 0 0 0 30px rgb(249, 249, 249) inset !important;
  -webkit-text-fill-color: rgb(65, 65, 65) !important;
}
