.CollectionItem {
  height: 350px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(168, 182, 191, 0.6);
  border-radius: 5px;

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(168, 182, 191, 0.6);
    transform: translateY(-1px);
  }
  .ImageContainer {
    position: relative;
    width: 100%;
    height: 60%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-bottom: 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &:hover {
      cursor: auto;
      .AddToCart {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        transform: translateY(-50px);
      }
      .MoreDetails {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        transform: translateY(-50px);
      }
      .CollectionImage {
        transform: scale(1.1);
        // transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        transition: transform 6s cubic-bezier(0, 1.31, 1, 1);
      }
    }
    .CollectionImage {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .AddToCart {
      position: absolute !important;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      height: 50px;
      z-index: 2;
      bottom: -50px;
      font-size: 0.9rem !important;
      font-weight: bold !important;
      letter-spacing: 3px !important;
      background-color: rgba(0, 0, 0, 0.87) !important;
      color: rgb(212, 212, 212) !important;
      border-radius: 0 !important;
      transition: all 0.7s !important;
      -webkit-transition: all 0.7s !important;
      -moz-transition: all 0.7s !important;
      -o-transition: all 0.7s !important;
      -webkit-transition: all 0.7s !important;
      &:hover {
        background-color: rgba(39, 39, 39, 0.87) !important;
        color: rgb(235, 235, 235) !important;
      }
    }

    .MoreDetails {
      position: absolute !important;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      height: 50px;
      z-index: 2;
      bottom: 5px;
      font-size: 0.9rem !important;
      font-weight: 600 !important;
      letter-spacing: 3px !important;
      background-color: rgba(0, 0, 0, 0.87) !important;
      color: rgb(212, 212, 212) !important;
      border-radius: 0 !important;
      transition: all 0.7s !important;
      -webkit-transition: all 0.7s !important;
      -moz-transition: all 0.7s !important;
      -o-transition: all 0.7s !important;
      -webkit-transition: all 0.7s !important;
      &:hover {
        background-color: rgba(39, 39, 39, 0.87) !important;
        color: rgb(235, 235, 235) !important;
      }
    }
  }

  .CollectionFooter {
    width: 100%;
    padding: 0 10px;
    height: 5%;
    display: flex;
    justify-content: space-between;

    .Name {
      width: 75%;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: left;
      letter-spacing: 1px;
      color: rgb(90, 90, 90);
    }

    .Price {
      width: 25%;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: right;
      letter-spacing: 1px;
      color: rgb(27, 27, 27);
    }
  }
}
