.CollectionPreview {
  margin-bottom: 50px;

  .title {
    margin: 10px 0 30px !important;
    text-align: center;
    position: relative;
    width: 100%;
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      position: absolute;
      background-image: linear-gradient(
        to right,
        #fafafa,
        #ebebeb,
        #dddddd,
        #cecece,
        #c0c0c0,
        #c0c0c0,
        #c0c0c0,
        #c0c0c0,
        #cecece,
        #dddddd,
        #ebebeb,
        #fafafa
      );
    }
    span {
      color: rgb(250, 250, 250) !important;
      font-weight: 600;
      padding: 0 20px;
      position: relative;
      z-index: 1;
      background-color: rgb(49, 49, 49) !important;
      display: inline-block;
      max-width: 70%;
      border-radius: 5px;
      -webkit-box-shadow: 3px 3px 0px 2px rgb(173, 173, 173);
      -moz-box-shadow: 3px 3px 0px 2px rgb(173, 173, 173);
      box-shadow: 3px 3px 0px 2px rgb(173, 173, 173);
    }
  }

  .SeeMore {
    margin: 30px 40% 0 40%;
    width: 20%;
    text-align: center;
    background-color: rgb(160, 160, 160);
    color: #fff;
    transition: all 0.6s;
    &:hover {
      background-color: rgb(231, 231, 231);
      color: rgb(116, 116, 116);
    }
  }
}
