.NotFound {
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  .ErrorNumber {
    position: relative;
    font-size: 12rem;
    color: rgba(0, 0, 0, 0.158);
    font-weight: 700;
  }
  .ErrorMessage {
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(48, 48, 48);
    font-size: 1.2rem;
    font-weight: 400;
  }
}
