.CartDropdown {
  position: absolute;
  width: 240px;
  max-height: 340px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  top: 72%;
  right: 0;
  z-index: 6;
  padding: 23px 0 0 0;
  background-color: none;

  .CartContainer {
    max-height: 317px;
    min-height: 60px;
    position: relative;
    width: 100%;
    padding: 0 0 0 4px;
    text-align: center;
    background-color: white;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 5px 2px #0000002d;
    -moz-box-shadow: 0px 0px 5px 2px #0000002d;
    box-shadow: 0px 0px 5px 2px #0000002d;
    .noItems {
      position: absolute;
      width: 100%;
      font-size: 0.6rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: rgb(53, 53, 53);
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .classItems {
    max-height: 257px;
    overflow-y: scroll;
    width: 100%;
    padding: 0;
  }

  button {
    margin-top: auto;
  }
}
