.CartItem {
  width: 100%;
  display: flex;
  height: 80px;
  padding: 4px;
  margin-top: 4px;
  background-color: rgb(245, 245, 245);
  color: rgb(95, 95, 95);

  .ImgContainer {
    width: 30%;
    background-position: center;
    background-size: cover;
  }

  .ItemDetails {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 4px;
    text-align: left;

    .CloseButton {
      position: absolute;
      top: 0;
      right: 0;
      padding: 4px;
      margin: 0;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
        stroke: rgb(68, 68, 68);
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
      }
    }

    .Name {
      width: 100%;
      font-size: 0.9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .Price {
      font-size: 0.7rem;
    }

    .Total {
      position: absolute;
      font-size: 0.7rem;
      bottom: 0;
      right: 0;
      margin: 0;
      padding: 0;
    }
  }
}
