@import './Layouts/Navbar';
@import './Pages/Home/Home';
@import './Pages/Shop/Shop';
@import './Components/Directory/Directory';
@import './Components/MenuItem/MenuItem';
@import './Components/CollectionPreview/CollectionPreview';
@import './Components/CollectionItem/CollectionItem';

html {
  min-height: '100%';
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  padding: 0;
}
