.CheckoutItem {
  width: 100%;
  display: flex;
  font-size: 16px;
  align-items: center;
  font-weight: 300;
  border-bottom: 2px dashed rgb(216, 216, 216);
  border-right: 2px dashed rgb(216, 216, 216);
  border-left: 2px dashed rgb(216, 216, 216);

  .ImageContainer {
    width: 16.6%;
    padding: 15px;
    text-align: center;
    margin: 0;
    img {
      width: 60%;
    }
  }
  .name {
    width: 40%;
    text-align: center;
  }

  .quantity,
  .price {
    width: 16.6%;
    text-align: center;
  }

  .quantityControls {
    color: rgb(71, 71, 71);
    font-weight: 300;
    padding: 0 10px;
    &:hover {
      cursor: pointer;
    }
  }

  .react-icons {
    vertical-align: middle;
  }

  .disabledReducer {
    vertical-align: middle;
    color: rgb(155, 155, 155);
    font-weight: 300;
    padding: 0 10px;
    &:hover {
      cursor: not-allowed;
    }
  }

  .RemoveBtn {
    width: 10%;
    text-align: center;
    cursor: pointer;
  }
}
