.CartIconContainer{
  padding: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
  background: none;
}

.MuiBadge-badge {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(51, 51, 51) !important;
}

.Cart:hover {
  background: none !important;
}

.NavIcons {
  color: rgb(85, 85, 85);
}
